header {
    display:flex
}
/* Here I want to do a class specifically for just the header for the css*/

body {
    font-family:'Courier New', Courier, monospace;
}
h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
