
/* Here I want to do a class specifically for just the header for the css*/

* {
    box-sizing: content-box;
  }

  /*TKT call in fonts*/


/* Header Nav-Bar Styling */

header {
  display: flex;
flex: none;
justify-content: space-between;
align-items: center;
max-height: 100px;
padding:0;
margin: 0;
}


#logo {
  background-color: cornflowerblue;
  max-height:100px;
}
/* in case I need to do this TKT
.logo-figure {

}
*/

.logo-image {
  height:100px;
  width: 100px;
  display:inline;
}

nav {
  background-color: blue;
  margin: 0;
  /*
  overflow: hidden;*/
  display:inline;
}

/*TKT figure out how to fix the height and alignemnt of the nav items*/

nav ul {
  margin: 0 5px;
  padding: 0 5px;
  display: flex;
  justify-content:flex-end;
  flex: 3 1 auto;
  align-items:center;
  height:100px;
  font-family: 'Rakkas', cursive;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  padding: 5px 10px 10px 0;
  align-items:center;
  white-space: nowrap;
}

nav ul li a {
  color: white;
  background-color: blue;
  line-height: 1.6;
  /*
  padding: 10px;*/
  padding:0.8em;
  text-decoration: none;
}

/*
nav ul li:first-child {
  margin-right: auto;
  padding: 10px
}
*/

nav ul li a.logo {
  background-color: cornflowerblue;
  font-weight:bold;
}
nav ul li a:hover {
  background-color: navy;
}

.page-home {
  background-color:whitesmoke;
  padding: 0.9rem;
  /* TKT do I want a transformation somehow? e.g. transform:capitalize; */
  margin: auto;
  border:navy solid 4px;
  transform:scale(1.1);
}
/* Introduction styling needs to go here */

.page-title {
    text-align:center;
    margin: 32px;
    border:4px solid navy;
    background-color:cornflowerblue;
    border-radius:10px;
    max-width:100%;
    color:whitesmoke;
    font-family: 'Euphoria Script', cursive;    
}

.introduction {
  font-family: 'Rakkas', cursive;

}

.introductory-para {
  color:whitesmoke;
  text-align:center;
}

/* Body Styling Basics */

body {
    font-family: 'Rakkas', cursive;
    background-color: #b0c4de;
    margin:0;
    padding:0;
    font-size:1em;
    color:navy;
}

h1 {
  font-family: 'Euphoria Script', cursive;    
  text-align:center;
  font-size: 3.75em;
  color:whitesmoke;
}

h2 {
  font-family: 'Euphoria Script', cursive;    
  text-align:center;
  font-size:1.5em;
  padding:2px;
  margin:5px;
  color:whitesmoke;
}

h3 {
  text-align:center;
  font-size:1em;
  padding:5px;
  color:whitesmoke;
  margin: 20px 5px 0;
}

p {
    color: navy;
    text-align: center;
    max-width: 100%;
    padding:5px;
    font-family: 'Rakkas', cursive;
    margin: 0 50px;
}

em {
  font-style:italic;
}

label {
  color:navy;
}

figure {
  text-align:center;
  color:navy;
  font-style:italic;
  font-size:smaller;
}


/* also need to do: 
<br>
*/

/* unvisited link */
a:link {
    color: white;
    text-decoration:none;
  }
  
  /* visited link */
  a:visited {
    color: white;
    text-decoration:none;
  }
  
  /* mouse over link */
  a:hover {
    color: blueviolet;
    text-decoration:none;
  }
  
  /* selected link */
  a:active {
    color: cornflowerblue;
    text-decoration:none;
  }

  .image-source {
    font-size:smaller;
    font-style:italic;
  }
  /*class for introductory paragraphs on each page*/

  footer {
    display:flex;
    margin:auto;
    justify-content: space-between;
    max-width:80%;
    padding:10px;

  }

  footer p {
    color:cornflowerblue;
  }

/* home page style */


.page-gallery {
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-gap: 10px;
   font-size:larger;
    align-items: stretch;
    padding: 10px 25px;
    max-width: 80%;
    margin: 0 auto;
    font-family: 'Rakkas', cursive    
}

/* Image code to consider when think*/
.page-gallery img {
  width: 100%;
  /*max-width: 300px;*/
  height: 300px;
  object-fit: cover;
  border-radius:10px;
  box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.5);
}

.page-gallery img:hover{
  transform:scale(1.1)
}
.fig-page-gallery {
  display:flex;
    flex-flow:column;
    align-self:flex-start;
    color:navy;
    font-weight: bolder;
    text-align:center;
    font-size:80%;
    padding: 5px;
    margin: 0;
    /*width:30vw;*/
}

/* home page pictures*/

.home-pics {
  padding:20px;
}
/*
.gallery::after {
  content: "";
  width:350px; [IF THERE ARE GOING TO BE FIVE and want it to push over]
}

*/



/* Parsing Page Specifics*/

.parsing {
  color:navy;
}

.parsing-steps em {
  font-weight:bold;
  color:whitesmoke;
}

/* TKT
#parsing-page {
  background-color:navy;
  color:red;
}

figure out why this isn't working or the stuff below*/ 

/* Table Styling */

table {
  border: 3px solid navy;
  border-collapse: collapse;
  color: navy;
  max-width:90%;
  margin-left: auto;
  margin-right: auto;

}

tr {
  background-color: steelblue;
  
}

td, th {
  padding: 0.5rem;
  border: solid 1px white;
  border-bottom: 1px solid navy;
}

th {
  text-align: center;
  color: white;
  background-color: navy;
  border: solid 1px white;
}
table caption {
  font-weight: bold ;
    text-align: center;
  font-size:larger;
  padding: 1rem 0;
  color: navy;
}

tbody tr:nth-child(even) {
  background-color:rgba(35, 107, 142, 0.35);
}

.try-parsing {
  padding-top:20px;
  margin-bottom: 0;
  text-align:center;
  color:navy;
}

.glossary {
  text-align:center;
}


dl {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 300px; /* set the container width*/
  overflow: visible;
  margin:auto; 
}

dl dt {
  flex: 0 0 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  color:whitesmoke;
}

dl dd {
  margin-left: auto;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 0 0 50%;
}

#cueword-heading, #letters-heading {
  font-weight:bold;
  border-bottom: 1px solid navy;
  border-top: 1px solid navy;
}

/* Rabbithole Styling */

.rabbithole-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font:bold;
  margin-top:10px;
  margin-bottom:10px;
}

/*.etymology-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  padding:20px 10px;
}
*/

.rabbithole-items {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.rabbithole-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.pronounce {
  font-style: italic;
  text-align:center;
}

hr {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: #095484;
    background-image: linear-gradient(to right, cornflowerblue, whitesmoke, cornflowerblue);
    height:3px;
    margin-top:3px;
    border:0;
}

.rabbithole-div {
  color:navy;
  margin:auto;
  width:80%;
}

/* Great Clues styling */

.clue-gallery {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:stretch;
  padding:10px;
}

button {
  background-color: cornflowerblue;
  border: none;
  border-radius:5px;
  color: white;
  padding: 5px 11px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  margin: 4px 2px;
  cursor: pointer;
  display:inline-flex;
  font-family: 'Flamenco', cursive;
}

input {
  border-radius:2px;
  border:navy;
  margin:10px;
}

.clue-gallery input {
  display:inline-flex;
}

.clue-gallery p {
  margin-bottom:0;
}



/* Bonuses styling */

.bonus-items {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

}

.setter {
  font-style:italic;
}

.resources {
  list-style:none; 
  color:navy;
  text-align:center;
}


.resources li::before {content: counter(li); 
  color: navy;
  display: inline-block; 
  width: 1em;
  margin-left: -1em}

 .resources li {
  counter-increment: li
}

.references {
  list-style: circle;
  color:navy;
  font-size: 0.75em;
  padding:10px;
  max-width:80%;
}

.references em {
  font-style:italic;
  color: cornflowerblue;
}