/* Here I want to do a class specifically for just the header for the css*/

* {
  box-sizing: content-box;
  scroll-behavior: smooth;
}


/* Header Nav-Bar Styling */

header {
display: flex;
flex: none;
justify-content: space-between;
align-items: center;
max-height: 25vh;
padding:0;
position: relative;
margin-left: -0.05rem;
margin-top: -0.7rem;
}


/*
#logo {
background-color: #185BD3;
max-height:22vh;
padding: 2.5rem;

}
*/

.logo-image {
height:20vh;
width: 20vh;
display: inline;
margin-left: 0;
margin-top: 0;
padding: 0;
/*box-shadow: inset 0 0 0 100vw cornflowerblue;
*/

}

nav {
background-color: aliceblue;
margin: 0 -10px 0 0;
/*
overflow: hidden;*/
display:inline;
padding-top: 5rem;
/*padding-bottom: 3rem;*/
}


nav ul {
margin: 0 2rem 0 0;
padding: 0 0.75rem 0.75rem 0;
display: flex;
justify-content:flex-end;
flex: 3 1 auto;
align-items:start;
max-height:20vh;
font-family: 'Rakkas', cursive;
font-size: 3.5vh;
/*color: whitesmoke;*/
}

nav ul li {
display: inline-block;
list-style-type: none;
max-height: 30vh;
/*padding: 0 0.75rem 2.5rem 0.75rem;*/
align-items:center;
white-space: nowrap;
}

nav ul li a {
color: #185BD3;
/*line-height: 1.6;

padding: 10px;*/
padding-left:0.8em;
padding-right:0.8em;
text-decoration: none;
}

/*
#clues-active, #parsing-active, #bonuses-active, #rabbitholes-active {
color:skyblue;
}
*/


nav ul li a.logo {
background-color: cornflowerblue;
font-weight:bold;
}

nav ul li a:link, nav ul li a:visited {
color: #185BD3;
}

nav ul li a:hover {
background-color: cornflowerblue;
color:white
}

nav ul li a:visited  {
color: #185BD3;
text-decoration:none;
}

#clues-active-nav, #bonuses-active-nav, #rabbitholes-active-nav, #parsing-active-nav {
  color: cornflowerblue;
}


/* Introduction styling needs to go here */

/*
.page-title {
  text-align:center;
  margin-left: auto;
  margin-right: auto;x
  margin-top: 1 rem;
  /*border:4px solid navy;*/
  /*background-color:cornflowerblue;
  border-radius:10px;
  max-width:70%;
  font-family: 'Euphoria Script', cursive; 
}
*/

.page-title {
  padding-top: 1em;
}

#site-title-animated
{
  font-family: 'Euphoria Script', cursive; 
  text-align:center;
font-size: 3.85em;
  background-image: linear-gradient(
  -225deg,
  #92B4F2 0%,
  #6495ED 17%,
  #3676E8 36%,
  #185BD3 53%,
  #1347A5 70%,
  fuchsia 100%
);

background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #1347A5;
background-clip: text;
text-emphasis-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 20s linear infinite;
animation-direction:alternate-reverse;
display: inline-block;
width: 100%;
margin-left: auto;
/*check how this works in the published version*/
}

@keyframes textclip {
to {
  background-position: 200% center;
}
}

.introduction {
font-family: 'Rakkas', cursive;
}


/* Body Styling Basics */

body {
  font-family: 'Rakkas', cursive;
  /*background-color: #b0c4de;* colors rejected re accessibility/
  /*background-color: #94afd2;*/
  background-color:aliceblue;
  margin:0;
  padding:0;
  font-size:2em;
  color:navy;
}

h1 {
font-family: 'Euphoria Script', cursive;    
text-align:center;
font-size: 3.75em;
color:cornflowerblue;
padding: 1rem;
margin:auto;
max-width:40%;
  text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000080;
  font-weight:bold;
}

h2 {
font-family: 'Euphoria Script', cursive;    
text-align:center;
font-size:2em;
padding:2rem;
margin:auto;
color:cornflowerblue;
  max-width:40%;
  text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000080;
  font-weight:bold;
  
}

h3 {
text-align:center;
font-size:1.5em;
padding:5px;
color:cornflowerblue;
margin: auto;
  border-radius:10px;
  max-width:40%;
  text-shadow: -1px -1px 1px #FFFFFF, 1px 1px 1px #000080;
  font-weight:bold;

}

p {
  color: navy;
  text-align: center;
  max-width: 100%;
  padding:0.75em;
  font-family: 'Rakkas', cursive;
  margin: auto 50px;
}

em {
font-style:italic;
}

label {
color:navy;
}

figure {
text-align:center;
color:navy;
font-size:smaller;
}


/* also need to do: 
<br>
*/

/* unvisited link */
a:link {
  color: cornflowerblue;
  /* commented out for accessibility
  text-decoration:none;*/
}

/* visited link */
a:visited {
  color: mediumpurple;
      /* commented out for accessibility
  text-decoration:none;*/
}

/* mouse over link */
a:hover {
  color: blueviolet;
      /* commented out for accessibility
  text-decoration:none;*/
}

/* selected link */
a:active {
  color: skyblue;
      /* commented out for accessibility
  text-decoration:none;*/
}

.image-source {
  font-size:smaller;
  font-style:italic;
}

footer {
  display:flex;
  margin:auto;
  justify-content: space-between;
  max-width:80%;
  padding:10px;

}

footer p {
  color:cornflowerblue;
}

/* home page style */

.home-page p {
  padding: 2em 2em 1em 2em;
}

.home-pics:hover{
transform:scale(1.5)
}

.page-gallery {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 10px;
 font-size:larger;
  align-items: stretch;
  padding: 10px 25px;
  max-width: 80%;
  margin: 0 auto;
  font-family: 'Rakkas', cursive    
}


/* Image code to consider when think*/
.page-gallery img {
width: 100%;
/*max-width: 300px;*/
height: 40rem;
object-fit: cover;
border-radius:10px;
box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.5);
}

.page-gallery img:hover{
transform:scale(1.1)
}
.fig-page-gallery {
display:flex;
  flex-flow:column;
  align-self:flex-start;
  color:navy;
  font-weight: bolder;
  text-align:center;
  font-size:80%;
  padding: 5px;
  margin: 0;
  /*width:30vw;*/
}

/* home page pictures*/

.home-pics {
padding:1.3rem;
height: 30rem;
width:30rem;

}
/*
.gallery::after {
content: "";
width:350px; [IF THERE ARE GOING TO BE FIVE and want it to push over]
}
*/



/* Parsing Page Specifics*/

.parsing {
color:navy;
text-align: center;
list-style-position: inside;
margin: auto;
padding: 0 3em;
}

.parsing-steps em {
font-weight:bold;
color:blueviolet;
}

/* TKT
#parsing-page {
background-color:navy;
color:red;
}
figure out why this isn't working or the stuff below*/ 

/* Table Styling */

table {
border: 3px solid navy;
border-collapse: collapse;
color: navy;
max-width:90%;
margin-left: auto;
margin-right: auto;

}

tr {
background-color: steelblue;

}

td, th {
padding: 0.5rem;
border: solid 1px white;
border-bottom: 1px solid navy;
}

th {
text-align: center;
color: white;
background-color: navy;
border: solid 1px white;
}
table caption {
font-weight: bold ;
  text-align: center;
font-size:larger;
padding: 1rem 0;
color: navy;
}

tbody tr:nth-child(even) {
background-color:rgba(35, 107, 142, 0.35);
}

.try-parsing {
padding-top:20px;
margin-bottom: 0;
text-align:center;
color:navy;
}

.glossary {
text-align:center;
}


dl {
display: flex;
flex-flow: row;
flex-wrap: wrap;
width: 75rem; /* set the container width*/
overflow: visible;
margin:auto; 
}

dl dt {
flex: 0 0 50%;
text-overflow: ellipsis;
overflow: hidden;
color:blueviolet;
text-align: right;
margin: 0 0 0 -1em;
}

dl dd {
margin-left: auto;
text-align: left;
text-overflow: ellipsis;
overflow: hidden;
flex: 0 0 50%;

}

#cueword-heading, #letters-heading {
font-weight:bold;
border-bottom: 1px solid navy;
border-top: 1px solid navy;
}

/* Rabbithole Styling */

.rabbithole-title {
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
font:bold;
margin-top:10px;
margin-bottom:10px;
}

/*.etymology-image {
display: block;
margin-left: auto;
margin-right: auto;
width: 30%;
padding:20px 10px;
}
*/

.rabbithole-items {
display: flex;
flex-direction: column;
align-items:center;
}

.rabbithole-image {
display: block;
margin-left: auto;
margin-right: auto;
width: 30%;
}

.pronounce {
font-style: italic;
text-align:center;
}

hr {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background: #095484;
  background-image: linear-gradient(to right, cornflowerblue, whitesmoke, cornflowerblue);
  height:.5rem;
  margin-top:.5rem;
  border:0;
}

.rabbithole-div {
color:navy;
margin:auto;
width:80%;
}

.rabbithole-div figcaption {
  font-style: italic;
}

/* Great Clues styling */

.clue-gallery {
display:flex;
flex-direction:column;
align-items:center;
justify-content:stretch;
padding:10px;
}

button {
background-color: cornflowerblue;
border-radius:7px;
color: white;
padding: 8px 11px;
text-align: center;
text-decoration: none;
font-size: 1em;
margin: 1em .5em;
cursor: pointer;
display:inline-flex;
font-family: 'Flamenco', cursive;
}

input {
border-radius:7px;
border:navy 1px solid;
margin:10px;
height: 4rem;
font-size: 100%;
font-family: 'Rakkas', cursive;
text-align: center;
}

.clue-gallery input {
display:inline-flex;
}

.clue-gallery p {
margin-bottom:0;
}



/* Bonuses styling */



.bonus-items {
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;

}

.bonus-items p {
  padding: 1em;
}
.setter {
font-style:italic;
}

.resources {
list-style:none; 
color:navy;
text-align:center;
}


.resources li::before {content: counter(li); 
color: navy;
display: inline-block; 
width: 1em;
margin-left: -1em}

.resources li {
counter-increment: li
}

.references {
list-style: circle;
color:navy;
font-size: 1rem;
padding:10px;
max-width:80%;
}

.references em {
font-style:italic;
color: cornflowerblue;
}